<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
      xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:/Users/Janadhi Uyanhewa/source/repos/TaskMngmnetAppWithMQ/SharedModels\internal_logs\internallog.txt">

  <targets>
    <target name="SharedModelsLogFile" xsi:type="File"
            filename="C:/Users/Janadhi Uyanhewa/source/repos/TaskMngmnetAppWithMQ/SharedModels/logs/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>

  </targets>

  <rules>
    <logger name="*" minLevel="Debug" writeTo="logfile"/>
  </rules>



</nlog>